      <div id="tableContainer">
        <template id="table-template">
          <table>
            <thead>
              <tr></tr>
            </thead>
            <tbody></tbody>
          </table>
        </template>
      </div>