<form id="tableForm">
    <label for="weekdays">Select Days:</label>
    <select id="weekdays" name="weekdays" multiple>
        <option value="monday">Monday</option>
        <option value="tuesday">Tuesday</option>
        <option value="wednesday">Wednesday</option>
        <option value="thursday">Thursday</option>
        <option value="friday">Friday</option>
        <option value="saturday">Saturday</option>
        <option value="sunday">Sunday</option>
    </select>

    <label for="item">Select Item:</label>
    <select id="item" name="language">
        <option value="Nuka-Cola">Nuka-Cola</option>
        <option value="RadAway">RadAway</option>
        <option value="Stimpak">Stimpak</option>
        <option value="Power Armor">Power Armor</option>
        <option value="Caps">Caps</option>
        <option value="Gauss Rifle">Gauss Rifle</option>
        <option value="Vault Suit">Vault Suit</option>
        <option value="Fusion Core">Fusion Core</option>
    </select>

    <button id="generateTableButton" type="submit">Generate Table</button>
</form>