<div class="user-menu">
    <img src="img/user.png" />
    <ul class="context-menu">
        <li><a href="#">Профиль</a></li>
        <li><a href="#">Настройки</a></li>
        <li><a href="#">Выход</a></li>
    </ul>
</div>