<div class="nav-content">
    <h1>Fallout 76 Fun</h1>
    <div class="separator"></div>
    <ul class="nav-list-ul">
        <li class="nav_li" id="home"><a href="home">Home</a></li>
        <li class="nav_li" id="marketplace">
        <a href="marketplace">Marketplace</a>
        </li>
        <li class="nav_li" id="blog">
        <a href="constructor">Constructor</a>
        </li>
        <li class="nav_li" id="users">
        <a href="users">Users</a>
        </li>
    </ul>
</div>