<template id="user-card-template">
<div class="swiper-slide">
    <img src="https://via.placeholder.com/150" alt="" />
    <h3></h3>
    <p class="email"></p>
    <p class="phone"></p>
    <p class="website"></p>
</div>
</template>