<div id="loader">
    <img src="img/loading.gif" alt="Loading" />
</div>

<div id="error-container"></div>

<div class="swiper-container">
    <div class="swiper-wrapper" id="swiper-wrapper"></div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>