<!DOCTYPE html>
<html>
  <head>
    {{> head_meta }}
    {{> head_links }}
    {{> head_scripts }}
    {{> head_title }}
  </head>
  <body>
    {{> navbar }}
    {{> constructor_form }}
    {{> constructor_container }}
    {{> footer }}
    <script src="constructor.js"></script>
    <script src="scripts/page-load-time.script.js"></script> 
  </body>
</html>