<!DOCTYPE html>
<html>
  <head>
    {{> head_meta }}
    {{> head_links }}
    {{> head_scripts }}
    {{> head_title }}
  </head>
  <body>
    {{> navbar }}
    {{> main }}
    {{> footer }}
    <script src="scripts/page-load-time.script.js"></script>
  </body>
</html>